<h3>Comments</h3>
<% @post.comments.each do |comment| %>
<fieldset>
	<legend>
    <%= comment.author %>
	</legend>
	<p><%= @post.comments.inspect %></p>
   <p><%= comment.body %></p>
</fieldset>
<% end %>

