<div class="columns_right">
	<div class="box box_gray">
		<div class="top"></div>
		<div class="box_gray_inner">
			<h2 class="cartouche">Navigation</h2>
			<div class="middle clear_fix">
				<p><%= link_to 'Index', posts_path %></p>
				<p><%= link_to 'New Post', new_post_path %></p>
			</div>
		</div>
	</div>
</div>
